# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
.venv/
env/

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# MLflow (Phase 4)
mlruns/

# Streamlit (Phase 5)
.streamlit/secrets.toml
